*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: normal;
    
}
/** Menu **/
header{
    height: auto;
    width: auto;
    display: flex;
    background-color:#0D69FF;
}

.navbar-nav a{
    color: white;
}
.navbar-brand img{
    padding-top: 6;
    width: 130px;
    height: 100px;
}

/** Maquetado Index**/
.portada__index {
    height: 500px;
    width: 100%;
    background-image: url(../recursos/imagenes/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo__portada{
    font-size: 120px;
    font-weight: 600;
    padding-top: 160px;
    margin-bottom: 12px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subtitulo__portada{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccion__noticas{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
} 

.titulo__noticias{
    color:  #1AB7FF ;
    font-size: 50;
    font-weight: 300px;
    text-align: center;
}

.contenedor__noticias{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 4px;
    margin-bottom: 120;
    justify-content: center;
    align-items: center;
}

.noticia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto; 
    border-radius: 15px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.boton__noticia{
    display: flex;
    background-color: #0D69FF;
    padding: 2px 2px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    width: fit-content;
    margin-bottom: 10px;
}

.imagen__noticia{
    width: 300px;
    height: auto;
}

/** Sobre Nosotros **/
#sobre_nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    padding: 5%;
    margin: 5px;
}

#sobre_nosotros #logo{
    margin: 10px 0 10px 0;
    width: 400px;
    height: 300;
}

#sobre_nosotros #equipo{
    margin: 4%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid;
    border-color: #0D69FF;
}


#sobre_nosotros .sobre_nosotros_titulo{
    color: #0D69FF;
    font-size: 40;
}
#sobre_nosotros .sobre_nosotros_subtitulo{
    color: #0D69FF;
    margin-top: 20px;
    font-size: 20;
}

#sobre_nosotros a{
    display: flex;
    background-color: #A0854F;
    padding: 5px 5px;
    border-radius: 8px;
    color:white;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.btn-carrusell {
    border-radius: 0%;
}
/** Menu Stfood **/
.menu__gastronomico{
    background-image: url(../recursos/imagenes/fondo__menu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    
}

.menu__gastronomico .encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    margin-top: 90px;
}

.encabezado h2{
    color: white;
    font-size: 34;
}

.menu__gastronomico .recetas{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    margin: 1% 30px 1% 30px;
    width: 700;
    height: 220; 
    box-shadow: 0 2px 2px rgba(0.7,0.7,0.7,0.7);
    overflow: hidden;

}

.recetas img{
    width: 240px;
    height: 220;
}

.recetas .receta{
    padding: 12px;
    justify-content: center;
    
}

.receta h3{
    color: #0D69FF;
}

.receta ul{
    list-style-type: none;
    width: fit-content;
}


/** Eventos **/
.section__eventos{
    display: grid;
    grid-template-areas: 
        "i__eventos i__eventos i__eventos i__eventos"
        "e_1 e_2 e_3 none"
        ;
        column-gap: 40px;
        row-gap: 20px;
    margin: 20px;
    text-align: center;
    align-self: center;
    
}
.section__eventos h2{
    color: #0D69FF;
}

.intro__eventos{
    grid-area: i__eventos;
}
.texto__eventos{
    margin: 30px;
    text-align: justify;
}
.evento__uno{
    grid-area: e_1;
}

.evento__dos{
    grid-area: e_2; 
}

.evento__tres{
    grid-area: e_3; 
}
.subtitulo__eventos{
    margin: 20px 0 20px 0;
    height: 150px;
    color: #0D69FF;
}
.section__eventos iframe{
    margin: 10px;
}
/** Contacto **/

#heroContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.titulo_formulario {
    padding-top: 80px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0D69FF;
}
.formulario__imagen{
    display: flex;
    width: 200;
    height: 150;
    align-items: center;
    margin: auto;
}
  
form {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 100px;
}
 
label {
    display: block;
    margin-bottom: 8px;
}  
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
button {
    background-color: #0D69FF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center; 
    display: block; 
    margin: 0 auto; 
}  
button:hover {
    background-color: #0D69FF;
}

footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}

footer h4{
    padding-top: 16px;
    color: white;
}

footer .redes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.redes img{
    width: 50px;
    height: 50px;
}

/** Media Q. **/
@media (max-width:560px){

    /** Index**/
    .portada__index{
        height: auto;
    }
    .titulo__portada{
        font-size: 32px;
        padding-top: 150px;
        margin-bottom: 6px;
    }
    .subtitulo__portada{
        font-size: 20px;
        margin-bottom: 16px;
    }
    .seccion__noticas{
        height: auto;
    }
    .titulo__noticias{
        margin-top: 20px;
        font-size: 22;
    }
    .contenedor__noticias{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .noticia{
        align-items: center;
        width: auto;
        height: auto; 
        border-radius: 13px;
        margin-top: 20px;
        padding: 5px;
    }

    /** NUestro Menu **/

    .menu__gastronomico .recetas{
        width: 320px;
        height: auto;
        flex-direction: column;
        margin: 2% 0 2% 0;
    }
    .recetas img{
        width: 100%;
    }
    .recetas .receta{
        font-size: 16px;
    }
    .menu__gastronomico .reversa{
        display: flex ;
        flex-direction: column-reverse;
    }

    /** Contrataciones **/
    .titulo_formulario {
        width: auto;
        height: auto;
        align-items: center;
        color: #0D69FF;
        margin: 0 20px 0 20px;
        text-align: center;
    }
    .formulario__imagen{
        width: 100;
        height: 75;

    }
      
    form {
        max-width: 200;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 100px;
    }

    .section__eventos{
        display: grid;
        grid-template-areas: 
            "i__eventos"
            "e_1"
            "e_2"
            "e_3"
            ;
        column-gap: 40px;
        row-gap: 10px;
        margin: 24px;
        text-align: center;
        align-self: center;
    }
    .subtitulo__eventos{
        margin: 2px 0 2px 0;
        height: 100px;
        color: #0D69FF;
    }
    .section__eventos iframe{
        margin: 10px;
    }
    

}