header{
    height: auto;
    width: auto;
    display: flex;
    background-color:#0D69FF;
    
    .navbar-nav a{
        color: white;
    }
    .navbar-brand img{
        padding-top: 6;
        width: 130px;
        height: 100px;
    }
    .navbar-brand img:hover{
        transform: rotate(360deg);
        transition: all 1s ease;
    }
    
}
